/.deps/user
/deps/*
/deps

*.DS_Store
.buildpath
.project
.settings/
/nbproject/private/
/nbproject/*
/public/cache/*
/public/deps
/public/deps/*

#[deps]
/public/lib/Zend/
/public/lib/Zend/*
/public/lib/LP/
/public/lib/LP/*
/public/js/extjs/
/public/js/extjs/*
/public/js/lapidos/
/public/js/lapidos/*
/public/js/sencha-touch/
/public/js/sencha-touch/*
/public/js/game/
/public/js/game/*
#[/deps]