/******************************************
* Icons
******************************************/
.audio-icon-16{
	background-image: url(../images/icons/audio-16.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

/******************************************
* User Module
******************************************/
.shared-folder{
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	background-color: #ddd;
	border: 1px solid #ccc;
}
