.module-items-wrap {
	
}

.module-item {
	position: relative;
	cursor: pointer;
	padding: 5px 5px 5px 5px;
}

.module-icon-wrap {
	width: 32px;
	margin: 0 auto;
}

.module-icon {
	width: 32px;
	height: 32px;
}

.module-title-wrap {
	position: absolute;
	left: 50px;
	top: 50%;
	margin-top: -12px;
	background: #777;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	border-radius: 10px;
	padding: 4px 10px;
	visibility: hidden;
	z-index: 900000;
}

.module-item.module-hover .module-title-wrap {
	visibility: visible;
}

.module-hover {
	
}

.module-item.module-selected {
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #fff 0%, transparent 70%);
}