
/*#############################################################


© 2007

Author: Igor Jovic

URL: http://spinz.se


#############################################################*/


/* default elements */



*{margin:0px;padding:0px}


h1
{
font-family:arial, verdana, helvetica, sans-serif;
font-size:1.9em; 
font-weight: bold;
color:#333333;
padding-left:5px;
line-height:1.6em
}
	
p
{
font-family:Verdana, Arial, helvetica, sans-serif;
font-size:0.8em; 
font-weight: normal;
color:#333333;
padding-left:5px;
line-height:1.6em
}

a
{
color:#467AA7;
font-size:0.8em; 
font-weight:normal;
font-style:normal;
text-decoration:none;
}


a:link
{
color:#467AA7;
font-weight:normal;
font-style:normal;
text-decoration:none;
}


a:visited
{
color:#467aa7;
font-style:normal;
font-weight:normal;
text-decoration:none;
}


a:hover
{
color:#ff6600; 
font-style:normal;
text-decoration:none;
 }



/* Layout */

body

{
background:url(Img/bodybg.jpg) repeat-x top center #eceddd;
font-family:Arial, Verdana,'Lucida Grande', Helvetica, sans-serif;
text-align: center;
color: #333333;
}



#wrapper 

{
background-color:#fff;
margin-top: 20px;
margin-right: auto;
margin-bottom:0px;
margin-left: auto;
width:902px;
border:10px solid #ffffff;
}



#header

{
background:url(Img/bgheader.jpg) no-repeat;
width:902px;
height:203px;
padding-top: 0px;
margin-left:0px;
margin-right:0px;
margin-top: 0px;
margin-bottom: 0px;
}

#header h1 

{
float:left;
font-size:2.9em;
padding-top:60px;
padding-left:37px;
font-family:Arial,verdana, sans-serif;
color:#37210c;
font-weight:bolder;
letter-spacing:-1px;
}

.orange	  /* Ordet Day i huvudet */
{color:#e67e1f;}



#header .logo

{
float:left;
padding-top:64px;
padding-left:46px;
border: none;
}


#navhorisontell
{
float:left;
list-style:none;
margin-bottom:0px;
margin-top:0px;
margin-left:0px;
width:902px;
background-color: #37210c;

}

#navhorisontell ul

{
list-style:none;
margin-bottom:0px;
margin-top:0px;
margin-left:0px;
}


#navhorisontell li

{
text-align:left;
float:left;
padding-left:0px;
padding-top:0px;
padding-bottom:0px;
}

#navhorisontell ul li a

{
display:block;
background-color:#37210c;
border-right:1px solid #fff;
line-height:2.5em;
margin-right:0px;
padding:8px 14px 8px 14px;
color: #ecf9ff;
font-weight:normal;
font-size: 0.8em;
text-decoration: none;
}

#navhorisontell  li a:hover
{
color: #ecf9ff;
background-color:#543e29;

}

#navhorisontell ul li .selected
{
color: #ecf9ff;
background-color:#e67e1f;

}



#nav
{
float:left;
list-style:none;
margin-top:15px;
margin-left:0px;
height:100%;

}

#nav ul

{
list-style:none;
margin-bottom:20px;
margin-top:20px;
margin-left:0px;
}


#nav li

{
text-align:left;
padding-left:0px;
padding-top:0px;
padding-bottom:0px;
border-bottom:1px solid #eaeada;
}


#nav ul li a

{

background-image: url(Img/bullet.gif);
background-repeat:no-repeat;
background-position:left center;
display:block;
background-color:#ffffff;
line-height:1.7em;
margin-right:0px;
padding-top:6px;
padding-bottom:6px;
padding-left:22px;
color: #666666;
font-weight:normal;
font-size: 0.8em;
text-decoration: none;
width:165px;
}

#nav  li a:hover
{
color: #37210c;
background-color:#f7f7f2;

}

#nav .selected
{
color: #37210c;
background-color:#f7f7f2;

}


#content

{
float:right;
background-color:#ffffff;
width:710px;
margin-top:20px;
margin:auto;
padding:0px;
margin-bottom:30px;
margin-right:0px;

}


#col1

{
float:left;
width:410px;
margin-right:0px;
margin-top:20px;
background-color:inherit;
text-align:left;
font-size:0.9em;
padding:5px;

}



#col1 h1
{
display:block;
font-size:0.9em;
width:50px;
font-family: arial;
text-align:left;
font-weight:bold;
color:#403f3b;
font-family:arial;
font-weight:bold;
padding:5px;
margin-top:5px;
margin-left:12px;

}


#col1 p

 { 
font: normal 0.9em Arial, Verdana, Helvetica, sans-serif;
font-size:0.9em;
color: #000000;
padding:10px;
text-align:left;
}

#col2

{
float:right;
background-color:#ffffff;
width:272px;
margin-top:20px;
padding:8px 0 8px 8px;
text-align:left;
font-size:0.9em;
}


#col2 p

 { 
font: bold 0.9em Arial, Verdana, Helvetica, sans-serif;
font-size:0.8em;
color: #000000;
padding:10px;
text-align:left;
}

#col2 .imagecol2

{
padding-left:0px;
padding-top:0px;
border:none;
}


#footer 

{
width:902px;
height: 85px;
clear:both;
margin-top: 0px;
background-color:#dfeef9;
color:#666666;;
margin-left:auto;
margin-right:auto;
margin-bottom: 0px;
padding-top: 15px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

#footer p 

{
font-size:0.7em;
font-family:arial;
font-weight:normal;
line-height: 1.4em;
color:#555555;
padding:25px 0 0 10px;
text-align:center;
}

#footer a 
{
font-size:1em;
text-decration:none;
font-weight:normal;
color:#467AA7;
text-align:center;
}

#footer a:hover

{
text-decoration:underline;
font-weight:normal;
color:#467AA7;
text-align:center;
}
